@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Hanken Grotesk', sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
}

#root {
  margin: auto;
  width: 100%;
  display: flex;
  height: 100%;
}

@media (min-width: 640px) {
  #root {
    height: unset;
  }

  #container {
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
  }
}
